USE [dbinventory]
GO
/****** Object:  Table [dbo].[Cabinet]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabinet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [char](10) NOT NULL,
 CONSTRAINT [PK_Cabinet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CabinetInventoryObject]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CabinetInventoryObject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDInventoryObject] [int] NOT NULL,
	[IDCabinet] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_CabinetInventoryObject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrentStatus]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDStatus] [int] NOT NULL,
	[NumberAct] [varchar](20) NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_CurrentStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](100) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Employe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](100) NOT NULL,
	[CabinetNumber] [char](10) NOT NULL,
	[IDInventoryObject] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryObject]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryObject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](30) NOT NULL,
	[InventoryNumber] [char](10) NOT NULL,
	[CommissioningDate] [date] NOT NULL,
	[DocumentationPath] [nvarchar](1000) NOT NULL,
	[IDType] [int] NOT NULL,
	[IDSubType] [int] NOT NULL,
	[LifeTime] [int] NOT NULL,
	[IDInvoce] [int] NOT NULL,
	[IDCurrentStatus] [int] NOT NULL,
	[Amount] [decimal](13, 2) NOT NULL,
	[IDEmployee] [int] NOT NULL,
	[IDInventoryObjectDetail] [int] NOT NULL,
 CONSTRAINT [PK_InventoryObject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryObjectDetails]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryObjectDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SeriaNumber] [varchar](30) NULL,
	[Title] [varchar](20) NOT NULL,
 CONSTRAINT [PK_InventoryObjectDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryObjectInentoryObjectDetails]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryObjectInentoryObjectDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDInventoryObject] [int] NOT NULL,
	[IDInventoryObjectDetails] [int] NOT NULL,
 CONSTRAINT [PK_InventoryObjectInentoryObjectDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoce]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoce](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](20) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Invoce] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubType]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDType] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SubType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/22/2022 2:19:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cabinet] ON 

INSERT [dbo].[Cabinet] ([ID], [Number]) VALUES (1, N'202       ')
INSERT [dbo].[Cabinet] ([ID], [Number]) VALUES (2, N'123       ')
INSERT [dbo].[Cabinet] ([ID], [Number]) VALUES (3, N'303       ')
SET IDENTITY_INSERT [dbo].[Cabinet] OFF
GO
SET IDENTITY_INSERT [dbo].[CabinetInventoryObject] ON 

INSERT [dbo].[CabinetInventoryObject] ([ID], [IDInventoryObject], [IDCabinet], [Date]) VALUES (1002, 1, 1, CAST(N'2022-01-01' AS Date))
INSERT [dbo].[CabinetInventoryObject] ([ID], [IDInventoryObject], [IDCabinet], [Date]) VALUES (1003, 2, 3, CAST(N'0001-01-01' AS Date))
INSERT [dbo].[CabinetInventoryObject] ([ID], [IDInventoryObject], [IDCabinet], [Date]) VALUES (1004, 1, 2, CAST(N'2022-01-28' AS Date))
SET IDENTITY_INSERT [dbo].[CabinetInventoryObject] OFF
GO
SET IDENTITY_INSERT [dbo].[CurrentStatus] ON 

INSERT [dbo].[CurrentStatus] ([ID], [IDStatus], [NumberAct], [Date]) VALUES (1, 3, N'1', CAST(N'2021-12-01' AS Date))
INSERT [dbo].[CurrentStatus] ([ID], [IDStatus], [NumberAct], [Date]) VALUES (2, 2, N'4', CAST(N'2021-12-04' AS Date))
INSERT [dbo].[CurrentStatus] ([ID], [IDStatus], [NumberAct], [Date]) VALUES (3, 1, N'432', CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[CurrentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Employe] ON 

INSERT [dbo].[Employe] ([ID], [FIO], [Position]) VALUES (1, N'Иванов И.А.', N'Директор')
INSERT [dbo].[Employe] ([ID], [FIO], [Position]) VALUES (3, N'Васильев В.А.', N'Менеджер')
SET IDENTITY_INSERT [dbo].[Employe] OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([ID], [FIO], [CabinetNumber], [IDInventoryObject], [Date]) VALUES (1, N'Васильев В.А.', N'201       ', 1, CAST(N'2022-01-21' AS Date))
INSERT [dbo].[History] ([ID], [FIO], [CabinetNumber], [IDInventoryObject], [Date]) VALUES (2, N'Иванов И.А.', N'123       ', 2, CAST(N'2022-01-22' AS Date))
INSERT [dbo].[History] ([ID], [FIO], [CabinetNumber], [IDInventoryObject], [Date]) VALUES (3, N'Васильев В.А.', N'123       ', 2, CAST(N'2022-01-22' AS Date))
SET IDENTITY_INSERT [dbo].[History] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryObject] ON 

INSERT [dbo].[InventoryObject] ([ID], [Title], [InventoryNumber], [CommissioningDate], [DocumentationPath], [IDType], [IDSubType], [LifeTime], [IDInvoce], [IDCurrentStatus], [Amount], [IDEmployee], [IDInventoryObjectDetail]) VALUES (1, N'123', N'1234      ', CAST(N'0001-01-01' AS Date), N'C:\Users\thevc\Documents\my work\github\thevckit-dotnet\Inventory Kwok\InventoryApp\InventoryApp\bin\Debug\ведомость.docx', 1, 18, 1, 10, 10, CAST(100.00 AS Decimal(13, 2)), 1, 0)
INSERT [dbo].[InventoryObject] ([ID], [Title], [InventoryNumber], [CommissioningDate], [DocumentationPath], [IDType], [IDSubType], [LifeTime], [IDInvoce], [IDCurrentStatus], [Amount], [IDEmployee], [IDInventoryObjectDetail]) VALUES (2, N'124', N'4214      ', CAST(N'0001-01-01' AS Date), N'C:\Users\thevc\Documents\my work\github\thevckit-dotnet\Inventory Kwok\InventoryApp\InventoryApp\bin\Debug\ведомость.docx', 1, 18, 1, 11, 15, CAST(0.30 AS Decimal(13, 2)), 3, 0)
SET IDENTITY_INSERT [dbo].[InventoryObject] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoce] ON 

INSERT [dbo].[Invoce] ([ID], [Number], [Date]) VALUES (1, N'11', CAST(N'2021-02-21' AS Date))
INSERT [dbo].[Invoce] ([ID], [Number], [Date]) VALUES (2, N'23', CAST(N'2021-11-01' AS Date))
INSERT [dbo].[Invoce] ([ID], [Number], [Date]) VALUES (3, N'342', CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Invoce] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [Title]) VALUES (1, N'Рабочее')
INSERT [dbo].[Status] ([ID], [Title]) VALUES (2, N'На ремонте')
INSERT [dbo].[Status] ([ID], [Title]) VALUES (3, N'Списано')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[SubType] ON 

INSERT [dbo].[SubType] ([ID], [IDType], [Title]) VALUES (18, 1, N'Ноутбук')
INSERT [dbo].[SubType] ([ID], [IDType], [Title]) VALUES (19, 2, N'Компьютерное кресло')
SET IDENTITY_INSERT [dbo].[SubType] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([ID], [Title]) VALUES (1, N'Техническое оборудование (устройство)')
INSERT [dbo].[Type] ([ID], [Title]) VALUES (2, N'Мебель ')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Username], [Password], [Role]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[User] ([ID], [Username], [Password], [Role]) VALUES (10, N'user', N'user', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[CabinetInventoryObject]  WITH CHECK ADD  CONSTRAINT [FK_CabinetInventoryObject_Cabinet] FOREIGN KEY([IDCabinet])
REFERENCES [dbo].[Cabinet] ([ID])
GO
ALTER TABLE [dbo].[CabinetInventoryObject] CHECK CONSTRAINT [FK_CabinetInventoryObject_Cabinet]
GO
ALTER TABLE [dbo].[CabinetInventoryObject]  WITH CHECK ADD  CONSTRAINT [FK_CabinetInventoryObject_InventoryObject] FOREIGN KEY([IDInventoryObject])
REFERENCES [dbo].[InventoryObject] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CabinetInventoryObject] CHECK CONSTRAINT [FK_CabinetInventoryObject_InventoryObject]
GO
ALTER TABLE [dbo].[CurrentStatus]  WITH CHECK ADD  CONSTRAINT [FK_CurrentStatus_Status] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[CurrentStatus] CHECK CONSTRAINT [FK_CurrentStatus_Status]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_InventoryObject] FOREIGN KEY([IDInventoryObject])
REFERENCES [dbo].[InventoryObject] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_InventoryObject]
GO
ALTER TABLE [dbo].[InventoryObject]  WITH CHECK ADD  CONSTRAINT [FK_InventoryObject_CurrentStatus] FOREIGN KEY([IDCurrentStatus])
REFERENCES [dbo].[CurrentStatus] ([ID])
GO
ALTER TABLE [dbo].[InventoryObject] CHECK CONSTRAINT [FK_InventoryObject_CurrentStatus]
GO
ALTER TABLE [dbo].[InventoryObject]  WITH CHECK ADD  CONSTRAINT [FK_InventoryObject_Employe] FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[Employe] ([ID])
GO
ALTER TABLE [dbo].[InventoryObject] CHECK CONSTRAINT [FK_InventoryObject_Employe]
GO
ALTER TABLE [dbo].[InventoryObject]  WITH CHECK ADD  CONSTRAINT [FK_InventoryObject_Invoce] FOREIGN KEY([IDInvoce])
REFERENCES [dbo].[Invoce] ([ID])
GO
ALTER TABLE [dbo].[InventoryObject] CHECK CONSTRAINT [FK_InventoryObject_Invoce]
GO
ALTER TABLE [dbo].[InventoryObject]  WITH CHECK ADD  CONSTRAINT [FK_InventoryObject_SubType] FOREIGN KEY([IDSubType])
REFERENCES [dbo].[SubType] ([ID])
GO
ALTER TABLE [dbo].[InventoryObject] CHECK CONSTRAINT [FK_InventoryObject_SubType]
GO
ALTER TABLE [dbo].[InventoryObject]  WITH CHECK ADD  CONSTRAINT [FK_InventoryObject_Type] FOREIGN KEY([IDType])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[InventoryObject] CHECK CONSTRAINT [FK_InventoryObject_Type]
GO
ALTER TABLE [dbo].[InventoryObjectInentoryObjectDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryObjectInentoryObjectDetails_InventoryObject] FOREIGN KEY([IDInventoryObject])
REFERENCES [dbo].[InventoryObject] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryObjectInentoryObjectDetails] CHECK CONSTRAINT [FK_InventoryObjectInentoryObjectDetails_InventoryObject]
GO
ALTER TABLE [dbo].[InventoryObjectInentoryObjectDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryObjectInentoryObjectDetails_InventoryObjectDetails] FOREIGN KEY([IDInventoryObjectDetails])
REFERENCES [dbo].[InventoryObjectDetails] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryObjectInentoryObjectDetails] CHECK CONSTRAINT [FK_InventoryObjectInentoryObjectDetails_InventoryObjectDetails]
GO
ALTER TABLE [dbo].[SubType]  WITH CHECK ADD  CONSTRAINT [FK_SubType_Type] FOREIGN KEY([IDType])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[SubType] CHECK CONSTRAINT [FK_SubType_Type]
GO
